.form-group {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 150px;
  max-width: 250px;
}

.form-group label {
  font-weight: bold;
  font-size: 0.9rem;
  width: 120px;
}

.form-group.flex-grow {
  flex: 3;
}

.form-group.bottom-align {
  align-items: flex-end;
  padding-bottom: 0.5rem;
}

.form-input2 {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
  min-height: 100px;
  width: 100%;
  min-width: 575px;
}

.form-input,
.form-select {
  background-color: #1a1a1a;
  color: white;
  border: 1px solid #555;
  border-radius: 4px;
  font-size: 0.9rem;
  padding: 0.4rem 0.6rem;
  width: 100%;
  max-width: 400px;
}

.form-button {
  background-color: #000;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
  width: 100%;
}

.form-button:hover {
  background-color: #333;
}

.grid-stack {
  margin-top: 80px;
}

.grid-content {
  background-color: #eaeaea;
  border: 1px solid #ccc;
  padding: 10px;
  height: 100%;
}

.grid-stack-item-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  height: 100%;
  background-color: #202020;
  border: 1px solid #555;
  border-radius: 8px;
  color: #f0f0f0;
}

.form-row {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  width: 100%;
  justify-content: space-between;
}

option {
  background-color: black;
  color: white;
}
